PROJECT_NAME="PlatformActia Backend"
API_V1_STR="/api/v1"
ENV="development"
DEBUG=True
PORT=8000
HOST="0.0.0.0"

# SMTP Gmail Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="platformactia.sender@gmail.com"
SMTP_PASSWORD=""
EMAILS_FROM_EMAIL="platformactia.sender@gmail.com"
EMAILS_FROM_NAME="PlatformActia Manager Portal"
